---
Language:        Cpp
BasedOnStyle:  Google

AccessModifierOffset: 2
AlignConsecutiveAssignments: true

AllowAllParametersOfDeclarationOnNextLine: false

AllowShortFunctionsOnASingleLine: None

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false

DerivePointerAlignment: false

IndentWidth:     4
TabWidth:        4
